<!-- #Left Sidebar ==================== -->
<div class="sidebar">
  <div class="sidebar-inner">
    <!-- ### $Sidebar Header ### -->
    <div class="sidebar-logo">
      <div class="peers ai-c fxw-nw">
        <div class="peer peer-greed">
          <a class='sidebar-link td-n' href="/" class="td-n">
            <div class="peers ai-c fxw-nw">
              <div class="peer">
                <div class="logo">
                  <img src="img/taryma.png" alt="">
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="peer">
          <div class="mobile-toggle sidebar-toggle">
            <a href="" class="td-n">
              <i class="ti-arrow-circle-left"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- ### $Sidebar Menu ### -->
    <ul class="sidebar-menu scrollable pos-r">
      <li class="nav-item mT-30 active">
        <a class='sidebar-link' routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <span class="icon-holder">
            <i class="c-blue-500 ti-home"></i>
          </span>
          <span class="title">Vendas</span>
        </a>
      </li>
      <li class="nav-item">
        <a class='sidebar-link' routerLink="/produtos" routerLinkActive="active">
          <span class="icon-holder">
            <i class="c-orange-500 ti-email"></i>
          </span>
          <span class="title">Inventário</span>
        </a>
      </li>
      <li class="nav-item">
        <a class='sidebar-link' routerLink="/fornecedores" routerLinkActive="active">
          <span class="icon-holder">
            <i class="c-blue-500 ti-share"></i>
          </span>
          <span class="title">Fornecedores</span>
        </a>
      </li>
      <li class="nav-item">
        <a class='sidebar-link' routerLink="/caixas" routerLinkActive="active">
          <span class="icon-holder">
            <i class="c-deep-orange-500 ti-calendar"></i>
          </span>
          <span class="title">Caixas</span>
        </a>
      </li>
      <li class="nav-item">
          <a class='sidebar-link' routerLink="/clientes" routerLinkActive="active">
            <span class="icon-holder">
              <i class="c-teal-500 ti-calendar"></i>
            </span>
            <span class="title">Clientes</span>
          </a>
        </li>
      <li class="nav-item">
        <a class='sidebar-link' routerLink="/relatorios" routerLinkActive="active">
          <span class="icon-holder">
            <i class="c-deep-purple-500 ti-comment-alt"></i>
          </span>
          <span class="title">Relatórios</span>
        </a>
      </li>

    </ul>
  </div>
</div>
