<div class="layers bd bgc-white ">
<div class="panel  ">
  <div class="panel-heading">
    <div class="panel-control">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#new-admin" data-toggle="tab" aria-expanded="true">
            Produtos
          </a>
        </li>
        <li class="">
          <a href="#new-op" data-toggle="tab" aria-expanded="false">
            Categorias
          </a>
        </li>
      </ul>
    </div>
    <h3 class="panel-title"> Inventário</h3>
  </div>
  <div class="panel-body ">
    <div class="tab-content">
      <!-- PRODUTOS -->
      <div class="tab-pane fade active in" id="new-admin">
        <button class="btn btn-primary pull-right mar-lft mb-2" (click)="comum.openModal('', modalProd)">Incluir Produto</button>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <!-- <th style="width:1%">&nbsp;</th> -->
              <th>Nome</th>
              <th>Categoria</th>
              <th>Valor</th>
              <th>Quantidade</th>
              <th style="width:1%">&nbsp;</th>
              <th style="width:1%">&nbsp;</th>
              <th style="width:1%">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of itemArray">
              <!-- <th>
                <img src="https://www.smartsupermercados.com/sites/default/files/styles/receita_destacada/public/pao_0.jpeg?itok=Fb4zG5Ub">
              </th> -->
              <td>{{item.nome}}</td>
              <td>{{item.categoria}}</td>
              <td>{{item.preco}}</td>
              <td>{{item.quantidade}}</td>
              <td>
                <button class="btn btn-success pull-left" type="button" (click)="openModal(item, modalProd)">Editar</button>
              </td>
              <td>
                <button class="btn btn-warning pull-left" type="button" (click)="openModal(item, modalMov,'sm')">Movimentação</button>
              </td>
              <td>
                <button class="btn btn-danger pull-left" type="button" (click)="deleteData(item._id,true)">Excluir</button>
              </td>
            </tr>

          </tbody>
        </table>

      </div>
      <!-- CATEGORIAS -->
      <div class="tab-pane fade" id="new-op">
        <button class="btn btn-primary pull-right mar-lft mb-2" (click)="comum.openModal('', modalCat)">Incluir Categoria</button>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <!-- <th style="width:1%">&nbsp;</th> -->
              <th>Categoria</th>
              <th>Descrição</th>
              <th style="width:1%">&nbsp;</th>
              <th style="width:1%">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cat of categoriaArray">
              <!-- <th>
                <img src="https://www.smartsupermercados.com/sites/default/files/styles/receita_destacada/public/pao_0.jpeg?itok=Fb4zG5Ub">
              </th> -->
              <td>{{cat.nome}}</td>
              <td>{{cat.nome}}</td>
              <td>
                <button class="btn btn-success pull-left" type="button" (click)="comum.openModal($event, modalCat)">Editar</button>
              </td>
              <td>
                <button class="btn btn-danger pull-left" type="button" >Excluir</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

</div>

<ng-template #modalProd let-c="close" let-d="dismiss" class="modal fade" id="demo-default-modal" role="dialog" tabindex="-1">
  <div class="modal-header">
    <h4 class="modal-title">{{comum.acao}} Produto</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="panel-body">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="control-label">Nome</label>
            <input type="text" placeholder="Nome do Produto" maxlength="30" name="nome" class="form-control input-sm" [(ngModel)]="editData.nome">
          </div>
          <div class="form-row">
            <div class="form-group col-sm-6">
              <label class="control-label">Categoria</label>
              <select id="inputState" class="form-control" [(ngModel)]="editData.categoriaid" name="categoria" *ngFor="let cat of categoriaArray">
                  <option value="{{cat.id}}">{{cat.nome}}</option>
              </select>
            </div>
            <div class="form-group col-sm-3">
              <label class="control-label">Qtd</label>
              <input type="text" placeholder="0" maxlength="30" name="qtd" class="form-control input-sm" [(ngModel)]="editData.quantidade">
            </div>
            <div class="form-group col-sm-3">
              <label class="control-label">Est Mínimo</label>
              <input type="text" placeholder="0" maxlength="30" name="estoque" class="form-control input-sm" [(ngModel)]="editData.estoque_minimo">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-4">
              <label class="control-label">Preço</label>
              <input type="text" placeholder="0,00" maxlength="30" name="preco" class="form-control input-sm" [(ngModel)]="editData.preco">
            </div>
            <div class="form-group col-sm-4">
              <label class="control-label">Valor de Custo</label>
              <input type="text" placeholder="0,00" maxlength="30" name="custo" class="form-control input-sm" [(ngModel)]="editData.preco_custo">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Descrição</label>
            <textarea placeholder="Descrição do Produto" maxlength="255" rows="4" class="form-control" name="descricao" [(ngModel)]="editData.descricao"></textarea>
          </div>

        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button data-dismiss="modal" class="btn btn-default" type="button" (click)="c('Close click')">Fechar</button>
    <button class="btn btn-primary" (click)="saveData(true)">Salvar</button>
  </div>
</ng-template>

<ng-template #modalCat let-c="close" let-d="dismiss" class="modal fade" id="demo-default-modal" role="dialog" tabindex="-1">
  <div class="modal-header">
    <h4 class="modal-title">{{comum.acao}} Categoria</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="panel-body">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="control-label">Nome</label>
            <input type="text" placeholder="Nome da Categoria" maxlength="30" name="name" class="form-control input-sm" [(ngModel)]="editData.nome">
          </div>
          <div class="form-group">
            <label class="control-label">Descrição</label>
            <textarea placeholder="Descrição da Categoria" maxlength="255" rows="4" class="form-control" name="description" [(ngModel)]="editData.descricao"></textarea>
          </div>

        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button data-dismiss="modal" class="btn btn-default" type="button" (click)="c('Close click')">Fechar</button>
    <button class="btn btn-primary" (click)="saveData(false)">Salvar</button>
  </div>
</ng-template>

<ng-template #modalMov let-c="close" let-d="dismiss" class="modal fade" id="demo-default-modal" role="dialog" tabindex="-1">
  <div class="modal-header">
    <h4 class="modal-title">Movimentação</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="panel-body">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="control-label">Nome</label>
            <input type="text" placeholder="Digite o nome" maxlength="30" name="name" value="Pão" disabled class="form-control input-sm">
          </div>
          <div class="form-group">
            <label class="control-label">Tipo de Movimentação</label>
            <input type="text" placeholder="Digite o nome" maxlength="30" name="name" class="form-control input-sm">
          </div>
          <div class="form-row">
            <div class="form-group col-sm-5">
              <label class="control-label">Qtd Atual</label>
              <input type="text" placeholder="Digite o nome" maxlength="30" name="name" value="10" disabled class="form-control input-sm">
            </div>
            <div class="form-group col-sm-2">
              <label class="control-label">&nbsp;</label>
              <input type="text" placeholder="Digite o nome" maxlength="30" name="name" value="-" disabled class="form-control input-sm">
            </div>
            <div class="form-group col-sm-5">
              <label class="control-label">Movimentar</label>
              <input type="text" placeholder="Digite o nome" maxlength="30" name="name" class="form-control input-sm">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button data-dismiss="modal" class="btn btn-default" type="button" (click)="c('Close click')">Fechar</button>
    <button class="btn btn-primary" (click)="saveData(false)">Movimentar</button>
  </div>
</ng-template>
