<div class="peers ai-s fxw-nw h-100vh banner">
    <div class="d-n@sm- peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv bg" style='background-image: url("assets/static/images/bg.jpg")'>
        <video class="video-bg" autoplay="" loop=""><source src="img/banner.mp4" type="video/mp4"></video>
        <div class="pos-a centerXY">
            <div class="bgc-white bdrs-50p pos-r" style='width: 120px; height: 120px;'>
                <img class="pos-a centerXY" src="img/logo-white.png" alt="">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 peer pX-40 pY-80 h-100 bgc-white scrollable pos-r login" style='min-width: 320px;'>
        <h4 class="fw-300 c-grey-900 mB-40">Login</h4>
        <form>
            <div class="form-group">
                <label class="text-normal text-dark">Username</label>
                <input type="email" class="form-control" placeholder="Digite aqui seu usuários" [(ngModel)]="loginObj.usuario" name="usuario">
            </div>
            <div class="form-group">
                <label class="text-normal text-dark">Password</label>
                <input type="password" class="form-control" placeholder="Digite aqui sua senha" [(ngModel)]="loginObj.senha" name="senha">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="login()">Login</button>
            </div>
        </form>
    </div>
</div>